body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

table.real-table {
  border:  #444444;
  border-collapse: collapse;
  margin: 1em 0;
  min-width: 300px;
}
  
tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

tr:hover td {background: #7affba;}
  
th {
  /*display: none;*/
  text-align: left;
  background-color: #b9b9b9;
}
  
td {
  display: block;
  padding-top: .5em;
  padding-bottom: .5em;
}

td.gud-payback {
  color: #058601;
  text-align: center;
  font-weight: bold;
}

td.bad-payback {
  color: #a7012f;
  text-align: center;
  font-weight: bold;
}

th, td {
  border: 1px solid grey;
  /*border: thick #444444;*/
  text-align: left;
  display: table-cell;
  padding: .25em .5em;

  }
